* {
  font-family: "Lato", sans-serif;
}
.cors_podcast {
  height: 100vh;
}
#entete_corps_podcast_voir_plus {
  margin-top: 10px;
  width: 100%;
  height: 65px;
  background-color: #5dbbff;
}
#entete_corps_podcast_voir_plus .font-weight-bold {
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.font-weight-bold {
  font-weight: bold;
  font-size: 39px;
}
.search-podcast {
  width: 48%;
  float: right;
  top: -40%;
  right: 1%;
  position: relative;
  transform: translateY(-40%);
}
.search-podcast input {
  height: 46px;
}

@media only screen and (min-width: 200px) {
  .titreparagraph4 {
    color: black;
    font-size: 25px;
  }
  .titreparagraph4 .tem {
    color: black;
    text-decoration: none;
  }
  .tem:hover {
    color: #ff0016;
  }
  .description2 {
    font-size: 16px;
    color: rgb(22, 21, 21);
  }
  .audio-make {
    width: 200px;
    outline: none;
  }
  .display-flex {
    display: flex;
  }
  .lenm img {
    width: 50px;
    height: 50px;
    border-radius: 35px;
  }
  .glyphicon-download-alt {
    cursor: pointer;
    color: #5dbbff;
    font-size: 30px;
  }
  .glyphicon-download-alt:hover {
    color: #3994d4;
  }
  .penm .glyphicon-download-alt {
    top: -15px;
  }
}
@media only screen and (min-width: 768px) {
  .titreparagraph4 {
    color: black;
    font-size: 27px;
  }
  .titreparagraph4 .tem {
    color: black;
    text-decoration: none;
  }
  .tem:hover {
    color: #ff0016;
  }
  .description2 {
    font-size: 16px;
    color: rgb(22, 21, 21);
  }
  .audio-make {
    width: 80%;
    outline: none;
  }
  .glyphicon-download-alt {
    cursor: pointer;
    color: #5dbbff;
    font-size: 40px;
    position: relative;
  }
  .glyphicon-download-alt:hover {
    color: #3994d4;
  }
  #reecouter a {
    text-decoration: none;
  }
  .penm .glyphicon-download-alt {
    top: -10px;
  }
  .lenm img {
    width: 80px;
    height: 80px;
    border-radius: 35px;
  }
  .display-flex {
    display: block;
  }
}
